# General Settings
APP_NAME="IT Support System"
APP_ENV=develop
LOG_FILE=logs/app.log
LOG_LEVEL=DEBUG
LOG_FILE_ROTATION="3 days"
SESSION_KEY=dev-session-key
# LLM Settings
CHAT_MODEL=qwen3.5:2b
EMBEDDING_MODEL=nomic-embed-text
MODEL_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
MODEL_PROVIDER_API_KEY=
# Database Settings
DB_NAME=helpdesk
DB_USER=postgres
DB_HOST=postgres
# MUST match whats in postgres.env
DB_PASSWORD=changeme
DB_PORT=5432
