# General Settings
APP_NAME="IT Support System"
APP_ENV=develop
LOG_FILE=logs/app.log
LOG_LEVEL=DEBUG
LOG_FILE_ROTATION="3 days"
SESSION_KEY=dev-session-key
# LLM Settings
OLLAMA_CHAT_MODEL=qwen3.5:2b
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
OLLAMA_BASE_URL=http://host.docker.internal:11434
OPENAI_CHAT_MODEL=
OPENAI_EMBED_MODEL=
OPENAI_PROVIDER_API_KEY=
OPENAI_TIMEOUT_SECONDS=60
OPENAI_MAX_RETRIES=2
# Database Settings
DB_NAME=helpdesk
DB_USER=postgres
DB_HOST=postgres
# MUST match whats in postgres.env
DB_PASSWORD=changeme
DB_PORT=5432
# Auto imported by NiceGUI but we dont need it right now
MATPLOTLIB=0
