# General Settings
APP_NAME="IT Support System"
APP_ENV=develop
LOG_FILE=logs/app.log
LOG_LEVEL=DEBUG
LOG_FILE_ROTATION="3 days"
SESSION_KEY=dev-session-key
# LLM Settings
MODEL=inset-model-name
MODEL_PROVIDER=inset-model-provider
MODEL_PROVIDER_URL=inset-model-provider-url
MODEL_PROVIDER_API_KEY=inset-model-provider-api-key
# Database Settings
DB_NAME=ticketing_system
DB_USER=ticketing_user
DB_HOST=postgres
DB_PASSWORD=changeme # MUST match whats in postgres.env
DB_PORT=5432
